div {
    border: solid 1px;
    text-align: center;  
    border-radius: 5px;
}

.base {
    height: 20%;
    background-color: blue;
}

.important {
    height: 20%;
    background-color: navy;
}

.warning {
    height: 20%;
    background-color: aqua;
}

.principal {
    height: 7%;
    font-family: Tahoma;
    border: none;
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.secondary {
    height: 7%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    font-size: 1em;
}

.box-with-shadow {
    height: 20%;
    box-shadow: 5px 10px;
}