@import "reset";
@import url('https://fonts.googleapis.com/css?family=Raleway');

$baseColor : blue;

body {
    font-family: 'Raleway', sans-serif;
}

.flex-container{
    display: flex;
    width: 100%;
}

.flex-item  {
    min-height: 20vh;
    min-width: 10vh;
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin: 0 0.4em 0 0.4em;
    display: flex;
    align-items: center;
    text-align: center;
}

.flex-container div:first-child {
    background-color: darken($color: $baseColor, $amount: 40%);
}

.flex-container div:first-child {
    background-color: darken($color: $baseColor, $amount: 40%);
}

.flex-container div:nth-child(2) {
    background-color: darken($color: $baseColor, $amount: 30%);
}

.flex-container div:nth-child(3) {
    background-color: darken($color: $baseColor, $amount: 20%);
}

.flex-container div:nth-child(4) {
    background-color: darken($color: $baseColor, $amount: 10%);
}

.flex-container div:nth-child(5) {
    background-color: $baseColor;
}

.flex-container div:nth-child(6) {
    background-color: lighten($color: $baseColor, $amount: 10%);
}

.flex-container div:nth-child(7) {
    background-color: lighten($color: $baseColor, $amount: 20%);
}

.flex-container div:nth-child(8) {
    background-color: lighten($color: $baseColor, $amount: 30%);
}

.flex-container div:last-child {
    background-color: lighten($color: $baseColor, $amount: 40%);
}