@import "reset";
@import url('https://fonts.googleapis.com/css?family=Raleway');

$baseColor : blue;

body {
    font-family: 'Raleway', sans-serif;
}

div.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.flex-item{
    height: 150px;
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: center;
    margin: 0px 5px 0px 5px;
    box-sizing: border-box;
    flex:1;
}

p{
    padding-top: 40%;
    padding-bottom: 40%;
}

.flex-container div:first-child {
    background-color: darken($color: $baseColor, $amount: 40%);
}

.flex-container div:nth-child(2) {
    background-color: darken($color: $baseColor, $amount: 30%);
}

.flex-container div:nth-child(3) {
    background-color: darken($color: $baseColor, $amount: 20%);
}

.flex-container div:nth-child(4) {
    background-color: darken($color: $baseColor, $amount: 10%);
}

.flex-container div:nth-child(5) {
    background-color: $baseColor;
}

.flex-container div:nth-child(6) {
    background-color: lighten($color: $baseColor, $amount: 10%);
}

.flex-container div:nth-child(7) {
    background-color: lighten($color: $baseColor, $amount: 20%);
}

.flex-container div:nth-child(8) {
    background-color: lighten($color: $baseColor, $amount: 30%);
}

.flex-container div:last-child {
    background-color: lighten($color: $baseColor, $amount: 40%);
}