@import "reset";
@import "theme2";
 
html, body {
  height: 80%;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: large;
}

.container {
    margin: 1em;
    border: 0px;
    height: 100%;
    width: 10em;
}